* 
{
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;

	background: #121212;
}

h2
{
	margin: 0;
	
	color: #FFF;
	
	font-size: 16px;
	text-transform: uppercase;
}

.header
{
	height: 48px;
	line-height: 48px;
	
	text-align: center;
	background: #121212;
}

.content
{
	width: 100%;
	height: calc(100% - 48px);
	background: #232323;
}

.map, .list
{
	width: 100%;
	height: calc(100% - 48px);

	background: #232323;
}

.list
{

	color: #FFf;
	padding: 20px;
}

.button, .button-locate
{
	color: #FFF;
	background: #121212;

	border: 0;
	outline: 0;

	float: left;

	width: calc(50% - 25px);
	height: 48px;
}

.button-locate
{
	width: 50px;
}

.button-fullwidth
{
	width: 100%;
}

.button:hover, .button-locate:hover
{
	background: #202020;
}

.hidden
{
	display: none;
}